<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Title</title>
</head>
<body>
<header class="p-3 bg-dark text-white fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a id="logo" th:href="@{/classes}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                SCOLARITE
            </a>

            <ul id="list" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-3">
                <li><a th:href="@{/filieres}" class="nav-link px-3 text-info">Filiere</a></li>
                <li><a th:href="@{/classes}" class="nav-link px-3 text-info">Classe</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<main>
<!--    <div class="linear"></div>-->
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-center text-dark linear-heading p-3">Filieres</h1>
            <!-- Toast Notification -->
            <div aria-live="polite" aria-atomic="true" class="position-relative">
                <div class="toast-container p-3" style="position: fixed; top: 70px; right: 10px;">

                    <!-- Toast pour succes -->
                    <div th:if="${successMessage}" class="toast align-items-center text-light bg-success border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header text-dark">
                            <strong class="me-auto">Scolarite</strong>
                            <small class="text-muted"></small>
                        </div>
                        <div class="d-flex">
                            <div class="toast-body">
                                <span th:text="${successMessage}"></span>
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>

                    <!-- Toast pour erreur -->
                    <div th:if="${errorMessage}" class="toast align-items-center text-light bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="mb-3">
                    <a th:href="@{/filieres/add}" class="btn btn-primary btn-lg"><i class="fas fa-plus-circle"></i> Add Filiere</a>
                </div>
                <div th:switch="${filieres}">
                    <h2 th:case="null" class="text-center">Aucune Filiere trouvée</h2>
                    <div th:case="*">
                        <table class="table table-responsive-xl table-dark">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Libelle</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="filiere : ${filieres}">
                                <td th:text="${filiere.id}"></td>
                                <td th:text="${filiere.libelle}"></td>
                                <td>
                                    <a href="#" th:href="@{/filieres/edit/{id} (id=${filiere.id})}" class="px-2"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #74C0FC;"></i></a>
                                    <a href="#" th:href="@{/filieres/view/{id} (id=${filiere.id})}" class="px-2"><i class="fa-regular fa-eye fa-lg" style="color: #FFD43B;"></i></a>
                                    <a href="#" th:href="@{/filieres/delete/{id} (id=${filiere.id})}" class="px-2"><i class="fa-regular fa-trash-can fa-lg" style="color: #d12e2e;"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="w-50" th:if="${noFiliereFound}" style="margin: 0 auto">
                            <div class="alert alert-dark" role="alert">
                                <h4 class="alert-heading text-center" th:text="${noFiliereFound}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--    <script src="/static/js/app.js"></script>-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl, { delay: 3000 });
            });
            toastList.forEach(toast => toast.show());
        });
    </script>

</body>
</html>