<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Title</title>
</head>
<body>
<header class="p-3 bg-dark text-white fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a id="logo" th:href="@{/classes}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                SCOLARITE
            </a>

            <ul id="list" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-3">
                <li><a th:href="@{/filieres}" class="nav-link px-3 text-info">Filiere</a></li>
                <li><a th:href="@{/classes}" class="nav-link px-3 text-info">Classe</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <h1 class="text-md-center">Classe</h1>
        <div class="" th:if="${warningMessage}" style="width: 50%; margin: 0 auto;">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p th:text="${warningMessage}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                </hr>
                <div class="mb-3">
                    <a th:href="@{/filieres/add}" class="btn btn-primary btn-lg"><i class="fas fa-plus-circle"></i> Add Filiere</a>
                </div>
            </div>
        </div>
        <div class="" th:if="${errorMessage}">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p th:text="${errorMessage}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                </hr>
                <div class="mb-3">
                    <a th:href="@{/filieres/add}" class="btn btn-primary btn-lg"><i class="fas fa-plus-circle"></i> Add Filiere</a>
                </div>
            </div>
        </div>
        <div class="row flex-row justify-content-center align-content-center">
            <div class="col-6 p-3">
                <form action="#" th:action="@{/classes}" th:object="${classe}" method="post">
                    <div class="mb-3">
                        <label for="libelle" class="form-label">Libelle</label>
                        <input type="text" th:field="*{libelle}" class="form-control" id="libelle" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label">Code</label>
                        <input type="text" th:field="*{code}" class="form-control" id="code" required>
                    </div>
                    <div class="mb-3">
                        <label for="fraisInscription" class="form-label">Frais Inscription</label>
                        <input type="text" th:field="*{fraisInscription}" class="form-control" id="fraisInscription" required>
                    </div>
                    <div class="mb-3">
                        <label for="mensualite" class="form-label">Mensualite</label>
                        <input type="text" th:field="*{mensualite}" class="form-control" id="mensualite" required>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" th:field="*{filiere.id}" aria-label="Default select example" required>
                            <option value="0">Sélectionnez une filière</option>
                            <option th:each="filiere : ${filieres}" th:value="${filiere.id}" th:text="${filiere.libelle}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>
    </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>